{% load static %}

{% if auth %}
    <p>You logged in as <a href="{% url 'albums:profile' user.id %}">{{ user }}</a>. <a href="{% url "albums:logout" %}">Logout</a>?</p>
{% else %}
    <p>You are not logged in. <a href="{% url 'albums:login' %}">Login</a> or <a href="{% url 'albums:registration' %}">register</a>?</p>
{% endif %}

<p>Sort album by: <a href="{% url 'albums:album_sort' 'rating' 'increasing' 1 %}">Rating +</a> |
    <a href="{% url 'albums:album_sort' 'release_year' 'increasing' 1%}">Release year +</a> |
    <a href="{% url 'albums:album_sort' 'name' 'increasing' 1 %}">Name +</a> |
    <a href="{% url 'albums:album_sort' 'rating' 'descending' 1 %}">Rating -</a> |
    <a href="{% url 'albums:album_sort' 'release_year' 'descending' 1 %}">Release year -</a> |
    <a href="{% url 'albums:album_sort' 'name' 'descending' 1 %}">Name -</a>
</p>

<form method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Search album or artist</legend>
        <label for="search">Input: </label>
        <input type="text" id="search" name="search">
    </fieldset>
</form>

<ul>
    {% for album in albums_list %}
        <li><a href="{% url 'albums:detail' album.id %}">{{album.name}}</a> - <a href="{% url 'albums:artist' album.artist.id %}">{{album.artist}}</a></li>
        {% with 'albums/img/'|add:album.cover|add:'.jpg' as album_cover %}
            <p><img src="{% static album_cover %}" alt="{{album_cover}}" width="100" height="100"></p>
        {% endwith %}
    {% endfor %}
</ul>
<h3><a href="{% url 'albums:page' 2 %}">Go to next page</a> </h3>