<h3><a href="{% url 'albums:index' %}">Go back to main page</a></h3>

{% if error %}
    <p>{{ error }} <a href="{% url 'albums:registration' %}"> register</a>.</p>
{% endif %}

<form method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Login to your account</legend>
        <label for="username">Username: </label>
        <input type="text" id="username" name="username">
        <label for="password">Password: </label>
        <input type="password" id="password" name="password">
    </fieldset>
    <input type="submit" name="Login">
</form>