{% load static %}

<h3><a href="{% url 'albums:index' %}">Go back to main page</a></h3>

{% if auth %}
    <p>You logged in as <a href="{% url 'albums:profile' user.id %}">{{ user }}</a>. <a href="{% url "albums:logout" %}">Logout</a>?</p>
{% else %}
    <p>You are not logged in. <a href="{% url 'albums:login' %}">Login</a> or <a href="{% url 'albums:registration' %}">register</a>?</p>
{% endif %}

<p>Search: {{ search_req }}</p>

<p><strong>Users: </strong></p>
<ul>
    {% for user1 in users %}
        <li><a href="{% url 'albums:profile' user1.id %}">{{user1.username}}</a>
            {% empty %}
        <li>There is no users.</li>
    {% endfor %}
</ul>
